@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50%       { transform: translateY(-10px); }
}

@keyframes float-reverse {
  0%, 100% { transform: translateY(0px); }
  50%       { transform: translateY(10px); }
}

@keyframes float-center {
  0%, 100% { transform: translateX(-50%) translateY(0px); }
  50%       { transform: translateX(-50%) translateY(-10px); }
}
